<div class={{div_class||'LI-profile-badge'}  data-version=${version||'v1'} data-size=${size||'zh_CN'} data-locale=${locale} data-type=${type} data-theme=${theme} data-vanity=${vanity||'dukebode'}}>
<a class=${a_class||'LI-simple-link'}} href=${href}>{{ content }}</a>
</div>